* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98123 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98123 {
  width: 50%;
}

.PAIR_ITEM_98123 img,
.PAIR_ITEM_98123 video {
  width: 100%;
  height: auto;
  display: block;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98124 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98124 {
  width: 50%;
}

.PAIR_ITEM_98124 img,
.PAIR_ITEM_98124 video {
  width: 100%;
  height: auto;
  display: block;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98125 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98125 {
  width: 50%;
}

.PAIR_ITEM_98125 img,
.PAIR_ITEM_98125 video {
  width: 100%;
  height: auto;
  display: block;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98126 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98126 {
  width: 50%;
}

.PAIR_ITEM_98126 img,
.PAIR_ITEM_98126 video {
  width: 100%;
  height: auto;
  display: block;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98127 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98127 {
  width: 50%;
}

.PAIR_ITEM_98127 img,
.PAIR_ITEM_98127 video {
  width: 100%;
  height: auto;
  display: block;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98128 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98128 {
  width: 50%;
}

.PAIR_ITEM_98128 img,
.PAIR_ITEM_98128 video {
  width: 100%;
  height: auto;
  display: block;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98129 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98129 {
  width: 50%;
}

.PAIR_ITEM_98129 img,
.PAIR_ITEM_98129 video {
  width: 100%;
  height: auto;
  display: block;
}


/* ===================== */
/* RAINBOW BAŞLIK */
/* ===================== */
.rainbow-text-wrapper {
  padding: 0 7mm;
  margin: 7mm 0 !important;
  text-align: center;
}

.animated-rainbow-2 {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 4mm;

  background: linear-gradient(
    90deg,
    #ff0057,
    #fffd44,
    #00ffcc,
    #6a00ff,
    #ff0057
  );
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbowMove 6s linear infinite;
}

.rainbow-desc {
  color: #081633 !important;
  font-size: 16px;
  line-height: 1.6;
}

@keyframes rainbowMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* Mobil */
@media (max-width: 768px) {
  .animated-rainbow-2 { font-size: 22px; }
  .rainbow-desc { font-size: 15px; }
}

