* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98123 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98123 {
  width: 50%;
}

.PAIR_ITEM_98123 img,
.PAIR_ITEM_98123 video {
  width: 100%;
  height: auto;
  display: block;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98124 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98124 {
  width: 50%;
}

.PAIR_ITEM_98124 img,
.PAIR_ITEM_98124 video {
  width: 100%;
  height: auto;
  display: block;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98125 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98125 {
  width: 50%;
}

.PAIR_ITEM_98125 img,
.PAIR_ITEM_98125 video {
  width: 100%;
  height: auto;
  display: block;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98126 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98126 {
  width: 50%;
}

.PAIR_ITEM_98126 img,
.PAIR_ITEM_98126 video {
  width: 100%;
  height: auto;
  display: block;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98127 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98127 {
  width: 50%;
}

.PAIR_ITEM_98127 img,
.PAIR_ITEM_98127 video {
  width: 100%;
  height: auto;
  display: block;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98128 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98128 {
  width: 50%;
}

.PAIR_ITEM_98128 img,
.PAIR_ITEM_98128 video {
  width: 100%;
  height: auto;
  display: block;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PAIR_CONTAINER_98129 {
  display: flex;
  gap: 4mm;
  padding: 4mm;
  background: #b0b0b0;
  width: 100%;
}

.PAIR_ITEM_98129 {
  width: 50%;
}

.PAIR_ITEM_98129 img,
.PAIR_ITEM_98129 video {
  width: 100%;
  height: auto;
  display: block;
}
